body
{
	margin: 50px auto;
	width: 1300px;
	background-color: black;
}
header{
background-color:#4B5D3A  ;
border:0.5px solid Tomato;
font-size: 15px;
text-align:center;
padding: 10px;
}
footer{
background-color:green;
font-style: italic;
text-align:center;
font-size: 20px;
height: 50px;
}


#past-section{
background-color: #696969 ;
 float: left;
    width: 928px;
	height:350px;
}
.aside-header{
float: right;
width: 350px;
padding: 10px;
height: 640px;
background-color: powderblue;

}

#future-section{
	background-color:purple;
	float: left;
	width: 928px;
}

.section-header{
	color: 	red;
}

table, th, td {
	width: 928px;
    border: 1px solid black;
	border-collapse:collapse;
	background-color: #5D3A3A;
}

.tab{
	width: 928px;
	background-color: #5D3A3A;
}
